body {
    margin: 0;
    padding: 2em;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #111827;
    display: grid;
    place-items: center;
    
}

.capped-width{
    min-width: 600px;
}
.header{
    background-color: #6943FF;
    color: white;
    padding: 5%;
    text-align: center;
  
}
.hide{
    display: none;
}
.input{
    display: block;
    text-align: center;
    line-height: 24;
    font-size: 3rem;
    background-color: #6943FF;
    color: white;
    height: 83px;
    width: 117px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    margin: auto;
    font-weight: 700;
}

.input:focus{
    outline: none;
}

input::placeholder {
    color: #B295FF;
    opacity: .5;
}
button{
    width: 117px;
    height: 43px;
    margin-top: 1.5rem;
    color: #3D3D3D;
    font-weight: bold;
    background-color: white;
    border-radius: 7px;
    border-color: transparent;
}

button:hover{
    background-color: #c4c2c2;
}

.conversions{
    background-color: #1F2937;
    color: #CCC1FF;
    text-align: center;
    padding: 1rem;
}

.elevation{
    background-color: #273549;
    padding: 2%;
    margin-bottom: 1rem;
}
div:last-child{margin-bottom: 0;}

@media (max-width: 700px) {
    .capped-width{
        min-width: 300px;
        max-width: 500px;
    }
    .hide{
        display: inline-block;
    }
}